*.iml
*.tar.gz
out/
lib-audio-utils/build/

.idea/

android/.gradle/
android/.idea
android/build
android/app/build
android/app/app.iml
android/lib-audio-utils/build
android/lib-audio-utils/libs
android/lib-audio-utils/audio-utils-android-lib
android/lib-audio-utils/src/main/obj
android/lib-audio-utils/src/main/jni/effect-android-lib

xmly-audio-utils.*
